{% extends 'dashboardbase.html.twig' %}

{% block title %}Modifier catégorie
{% endblock %}

{% block body %}
	<a class="btn btn-success" href="{{ path('app_cat_premier_index') }}">Retour</a>
	<h1>Modifier catégorie Supérieure</h1>
	<div class="container">
		{{ include('cat_premier/_form.html.twig', {'button_label': 'Modifier'}) }}


		{{ include('cat_premier/_delete_form.html.twig') }}
	</div>
{% endblock %}
