{% extends 'dashboardbase.html.twig' %}

{% block title %}New PhotosProduct
{% endblock %}

{% block body %}
	<h1>Create new PhotosProduct</h1>

	{{ include('photos_product/_form.html.twig') }}

	<a href="{{ path('app_photos_product_index') }}">back to list</a>
{% endblock %}
