{% extends 'dashboardbase.html.twig' %}

{% block title %}Nouvelle catégorie
{% endblock %}

{% block body %}
	<a class="btn btn-primary" href="{{ path('app_category_index') }}">Retour</a>
	<h1>Créer une catégorie</h1>
	<div class="container">

		{{ include('category/_form.html.twig') }}

	</div>
{% endblock %}
