{% extends 'base.html.twig' %}

{% block title %}
    SymStore - Error
{% endblock %}

{# Page d'erreur lorsque l'utilisateur n'a pas un accès ADMIN #}
{% block body %}
<h3 class="text-center m-3 text-danger">You don't have access to this function.</h3>
{% endblock %}