{% extends 'dashboardbase.html.twig' %}

{% block title %}Edit ImageBlog
{% endblock %}

{% block body %}
	<h1>Modifier Image Blog</h1>

	{{ include('image_blog/_form.html.twig', {'button_label': 'Modifier'}) }}

	<a class="btn btn-secondary" href="{{ path('app_image_blog_index') }}">Retour</a>

	{{ include('image_blog/_delete_form.html.twig') }}
{% endblock %}
