{% extends 'dashboardbase.html.twig' %}

{% block title %}New ImageBlog
{% endblock %}

{% block body %}
	<h1>Création des images pour le Blog</h1>

	{{ include('image_blog/_form.html.twig') }}

	<a class="btn btn-secondary" href="{{ path('app_image_blog_index') }}">Retour</a>
{% endblock %}
