{% extends 'dashboardbase.html.twig' %}

{% block title %}Edit CategoryBlog
{% endblock %}

{% block body %}
	<h1>Modifier la catégorie Blog</h1>

	{{ include('category_blog/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_category_blog_index') }}">Retour</a>

	{{ include('category_blog/_delete_form.html.twig') }}
{% endblock %}
