{% extends 'dashboardbase.html.twig' %}

{% block title %}Ligne de commande
{% endblock %}

{% block body %}
	<h1>Ligne de commande</h1>

	<table class="table">
		<tbody>

			<tr>
				<th>Ligne de commande</th>
				<td>{{ order_line.quantity }}</td>
			</tr>
			<tr>
				<th>Montant</th>
				<td>{{ order_line.amount }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_order_line_index') }}">Retour</a>
{% endblock %}
